@tailwind base;
@tailwind components;
@tailwind utilities;

/** Global styles **/
html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  line-height: 1.6;
  font-size: 18px;
  padding: 5px;
}

* {
  box-sizing: border-box;
}

@layer base {
  a {
    color: #0070f3;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    max-width: 100%;
    display: block;
  }

  footer {
    @apply flex justify-center items-center w-full h-[100px];
    border-top: 1px solid #eaeaea;
  }

  h1 {
    @apply text-5xl font-extrabold tracking-tighter mt-4;
    font-size: 2.5rem;
    line-height: 1.2;
  }

  h2 {
    @apply font-bold tracking-tighter mt-4;
    font-size: 2rem;
    line-height: 1.3;
  }

  h3 {
    @apply text-2xl mt-4;
  }

  h5 {
    @apply leading-normal;
    font-size: 1.2rem;
  }

  /** override TailwindCSS not showing bullet points https://stackoverflow.com/questions/67798540/tailswind-css-list-disc-is-not-styling-li-bullets-correctly-double-bullet#:~:text=By%20default%20Tailwind%20will%20set,that%20would%20solve%20the%20problem. */
  ul {
    @apply pl-5 list-disc list-inside mt-4;
  }
}

@layer components {
  .social-icons {
    @apply text-white font-bold py-4 px-4 rounded-full;
  }

  .theme-icon {
    @apply py-4 px-4 hover:bg-gray-100 focus:bg-gray-200 border-solid	border-2 border-current rounded;
  }

  .code-block {
    @apply bg-white text-lg;
    border-radius: 5px;
    padding: 0.45rem;
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
}
